.product-container {
  border: 1px solid lightgrey;
  border-radius: 8px;
  height: 600px;
  width: 350px;
  position: relative;
  transition: 0.5s;
}

.product-container img:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.Product-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  border-radius: 2px;
  color: white;
}
.Product-infro {
  margin-top: -40px;
}
